body {
    font-family: 'Nunito Sans', sans-serif;
}

input {
    padding: 5px 10px;
}

.container {
    width: 600px;
    padding-top: 100px;
    margin: 0 auto;
}

.family {
    width: 177px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.input-family {
    margin-bottom: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.flex__item {
    width: 250px;   
    padding: 25px 30px;
    border: 1px solid black;
    box-sizing: border-box;
}

.category-name {
    margin-bottom: 10px;
}

.category-count {
    margin-bottom: 20px;
}

.add-category {
    padding: 5px 15px;
    margin-bottom: 10px;
}

.remove-category {
    padding: 5px 15px;
}

.accept {
    width: 70px;
    
    margin: 0 auto;
}

.form__button {
    padding: 10px 15px; 
    background-color: transparent;
}

