body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

/* Header */ 
.header {
    width: 100%;
    background-color: #333;
    padding: 15px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 163px;
    height: 50px;
}

.header__links {
    display: inline-block;
    padding-top: 12px;
}

.header__link {
    color: white;
}

.header__link:first-child {
    margin-right: 30px;
}

/* Hero */
.none {
    display: none;
}

.swiper {
    width: 1200px;
    position: relative;
    overflow: hidden;
}

.swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 0;
}
.swiper-button-next {
    position: absolute;
    top: 50%;
    right: 0;
}

.swiper-slide {
    width: 1000px;
}

.active {
    width: 150px;
    height: 150px;
    background-color: red;
}

.setting-btn {
    color: white;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.settings {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    height: 800px;
    /* padding-top: 50px; */
    padding: 25px;
    background-color: #333;
    transform: translateX(100%);
    z-index: 4;
    transition: transform ease-in-out .3s;
    box-sizing: border-box;
    border-radius: 0 0 0 50px;
    /* display: none */
}

.menu__active {
    transform: translateX(0);
}

.close {
    margin-bottom: 15px;
}

.menu-container {
    position: absolute;
    width: 450px;
    height: 675px;
    padding: 20px;
    background-color: #C4C4C4;
    border-radius: 26px;
}

.month {
    text-align: center;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-profit-expens {
    margin-bottom: 20px;
}

.menu__profit {
    width: 40%;
    height: 50px;
    background-color: white;
}
.menu__expens {
    width: 40%;
    height: 50px;
    background-color: white;
}

.menu__item:not(:first-child) {
    margin-bottom: 10px;
}

.menu__name {
    width: 75px;
    height: 45px;
    background-color: white;
    text-align: center;
}

.menu__input {
    width: 75px;
}
